* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}
body {
  background-color: #F5F5F5;
}

h4 {
  font-weight: 400;
}

.libre {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.5rem;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  height: fit-content;
}

.search {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.about button {
  margin-bottom: 2rem;
}

.primary-btn {
  background-color:#E2B13C;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.App {
  text-align: center;
  margin-top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul  {
  padding-inline-start: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.search-container {
  height: fit-content;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 140px auto;
  gap: 20px;
  margin: 120px 0 220px 0;
}

.filter-div {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #ffffff;
}

.filter-div--header {
  padding: 2rem 2rem;
  border-bottom: 1px solid #C2C2C2;
  display: flex;
  justify-content: space-between;
}

.filter-div--header p {
  margin: 0;
}

.filter-div--options {
  width: 80%;
  margin: 2rem auto;
}

select {
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: #C2C2C2;
  border: none;
  font-weight: 500;
  width: 100%;
}

.filter-label {
  float: left;
  font-weight: 500;
  margin-top: 2rem;
}

.filter-label:first-of-type {
  margin-top: 2rem;
}

.checkbox-option {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  justify-content: space-between;
}

input[type='checkbox'] {
  max-width: fit-content;
}

.filter-checkbox-label {
  font-weight: 400;
  color: #272727;
}

.filter-div--community-options {
  padding: 2rem 0;
}

.filter-checkbox-community-label {
  font-weight: 500;
}

.searchpage-div {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #ffffff;
  align-self: center;
}

.result-container {
  min-height: 100%;
  background-color: #ffffff;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem 0;
  justify-content: space-evenly;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

.leaflet-container {
  width: 60vw; 
  height: 100vh;
}

.map-header {
  text-align: left;
  margin-top: 10vh;
}

.map-header h1 {
  margin-top: 40px;
}

.map-header--info {
  display: flex;
  margin: 15px 0 40px 0;
}

.map-header--info h4 {
  margin-right: 50px;
}

.map-image {
  width: 100%;
}

map-div--image-container {
  width: 100%;
}

.mapid { 
  height: 80vh; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  max-width: 64ch;
  line-height: 1.8rem;
  margin: 0 auto;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
